<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <title>Home</title>
    <style>
        *{
            color: black;
            list-style: none;
            text-decoration: none;
        }
        a{
            text-decoration: none;
        }
        body {
            background: #e1e1e1;
        }

        .added-img img {
            height: 36px;
            border-radius: 17px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {{#if currentUser/owner_name}}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/salon">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/salon/appointments">Todays Appointments</a>
                        </li>
                    </ul>
                {{else}}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/user">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/user/appointments">My Appointments</a>
                        </li>
                    </ul>
                {{/if}}

                {{#if currentUser}}
                <div class="btn-group mx-3">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{currentUser/name}}
                    </button>
                    <ul class="dropdown-menu">
                        {{#if currentUser/owner_name}}
                            <li><a class="dropdown-item" href="/salon/custom-slots">Create Custom slots</a></li>
                            <li><a class="dropdown-item" href="/salon/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/salon/logout">Logout</a></li>
                        {{else}}
                            <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
                        {{/if}}
                    </ul>
                </div>
                {{else}}
                <a href="/user/login"><button class="btn btn-outline-success mx-2" type="button">Login</button></a>
                <a href="/user/signup"><button class="btn btn-outline-success" type="button">SignUp</button></a>
                {{/if}}
            </div>
        </div>
    </nav>
    {{#if context.alert}}
    <div class="alert alert-{{context.alert.tag}} alert-dismissible fade show" role="alert">
        <strong>{{context.alert.message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
    {{{body}}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>

</html>