<style>
    a {
        text-decoration: none;
        color: black;
    }

    body {
        font-family: 'Baloo Bhai 2', cursive;
    }

    .a-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 800px;
        border: 3px solid #d1d1d1;
        margin: auto;
        font-size: 37px;
        padding: 8px;
        background-color: white;
        border-radius: 15px;
        margin: 15px 0px;
    }

    .midbody {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "dishbody notibody"
            "dishbody contactbody"
        ;
    }

    .dishbody {
        grid-area: dishbody;
        /* width: 50%; */
        background-color: #cfcfcf;
        margin: 21px 30px;
        border-radius: 13px;
        box-shadow: 0px 0px 3px 4px grey;
        padding: 12px;
    }
    .notibody{
        grid-area: notibody;
        background-color: #cfcfcf;
        margin: 21px 30px;
        border-radius: 13px;
        box-shadow: 0px 0px 3px 4px grey;
        padding: 12px;
    }

    .dishbody h3,
    .notibody h3,
    .contactbody h3 {
        width: fit-content;
        margin: auto;
    }

    .dishitem {
        display: flex;
        justify-content: space-between;
        border: 2px solid grey;
        border-radius: 10px;
        background-color: whitesmoke;
        padding: 10px;
        font-size: larger;
        margin: 13px 0px;
    }

    .available {
        color: green;
    }

    .unavailable {
        color: red;
    }

    .contactbody {
        grid-area: contactbody;
        height: fit-content;
        background-color: whitesmoke;
        box-shadow: 0px 0px 3px 4px grey;
        width: 450px;
        padding: 10px;
        margin: 25px;
    }

    .btn {
        height: 30px;
        line-height: 1;
    }
</style>
<a href="#">
    <div class="a-container">
        <div class="aname">
            <span>{{currentUser/name}}</span>
        </div>
    </div>
</a>
<div class="midbody">
    <div class="dishbody">
        <h3>Timings</h3>
        {{#each timings}}
        <div class="dishitem">
            <div class="name">{{this/time}}</div>
            {{#if this/available}}
            <div class="available">Available</div>
            {{else}}
            <div class="unavailable">Unavailable</div>
            {{/if}}
        </div>
        {{/each}}
    </div>
    <div class="notibody" id="noti">
        <h3>Notifications</h3>
    </div>
    <div class="contactbody">
        <h3>Details</h3>
        <div class="manager">Owner's name: {{currentUser/owner_name}}</div>
        <div class="phone">Email: {{currentUser/email}}</div>
        <div class="phone">Phone: {{currentUser/phone}}</div>
    </div>
</div>

<script>
    let notibody = document.getElementById("noti")
    var block_to_insert;
    var myTimeout = {};
    const socket = io.connect('http://localhost:3000')
    socket.on('connected', (message) => {
        console.log(message)
    })
        
    socket.on('incoming-request-{{currentUser/id}}', (message) => {
        var appointment_id = message.appointment_id
        block_to_insert = document.createElement('div');
        block_to_insert.className = 'dishitem';
        block_to_insert.id = `dishitem-${message.appointment_id}`
        block_to_insert.innerHTML = `
            <div>
                ${message.user.name}
            </div>
            <div>
                ${message.timing}
            </div>
            <div>
                <button type="button" onclick="accept(${message.appointment_id}, ${message.timing_id}, ${message.user.id})" class="btn btn-success"></button>
                <button type="button" onclick="decline(${message.appointment_id}, ${message.timing_id}, ${message.user.id})" class="btn btn-danger"></button>
            </div>
        `;
        notibody.appendChild(block_to_insert);
        myTimeout[`${appointment_id}`] = setTimeout(decline, 10000, message.appointment_id, message.timing_id, message.user.id);
        console.log(myTimeout)
    })
    
    function accept(appointment_id, timing_id, user_id){
        console.log("aa gya accept function", myTimeout[`${appointment_id}`])
        socket.emit("accept-event", {appointment_id: appointment_id, timing_id: timing_id, user_id: user_id})
        document.getElementById(`dishitem-${appointment_id}`).style.display = "none"
        clearTimeout(myTimeout[`${appointment_id}`]);
    }
    function decline(appointment_id, timing_id, user_id){
        console.log("aa gya decline function", appointment_id)
        socket.emit("decline-event", {appointment_id: appointment_id, timing_id: timing_id, user_id: user_id})
        document.getElementById(`dishitem-${appointment_id}`).style.display = "none"
        clearTimeout(myTimeout[`${appointment_id}`]);
    }
    
</script>